<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js 基础 实战</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- Div to Mount App -->
    <div id="app">
        <h1>Inputs</h1>

        <h4>Checkboxes</h4>
        <input v-model="inputs.checkboxes" type="checkbox" value="eeny" id="eeny" />
        <label for="eeny">Enny</label>
        <input v-model="inputs.checkboxes" type="checkbox" value="meeny" id="meeny" />
        <label for="meeny">Meenny</label>
        <input v-model="inputs.checkboxes" type="checkbox" value="miny" id="miny" />
        <label for="miny">Miny</label>
        <input v-model="inputs.checkboxes" type="checkbox" value="mo" id="mo" />
        <label for="mo">Mo</label>
        <p>
            <strong>Checkboxes:</strong> {{inputs.checkboxes}}
        </p>

    </div>

    <!-- Reference to Vue.js library -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Script Element for our first App -->
    <script src="./app.js"></script>
</body>
</html>